
<div class="singUpMainWrap">
    <div class="buttonsWrapHeadWrap">
        <a stButton size="lg" variant="principal">Registrarse</a>
        <a stButton size="lg" variant="dark" routerLink="/login">Ingresar</a>
    </div>

    <div class="singUpFormWrapper">

        <h1>Regístrese</h1>

        <form class="formsingUp" [formGroup]="formSingUp">

            <st-form-field>
                <label stLabel for="name">Nombres</label>
                <input stInput id="name" type="text" formControlName="name">
                <st-error>El campo es requerido</st-error>
            </st-form-field>
            
            <st-form-field>
                <label stLabel for="lastname">Apellidos</label>
                <input stInput id="lastname" type="text" formControlName="lastname">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="birthday">Fecha de nacimiento</label>
                <input stInput id="birthday" type="date" format="dd/mm/yyyy" formControlName="birthday">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="gender">Género</label>
                <select stInput id="gender" formControlName="gender" name="gender" id="gender">
                    <option selected disabled>Seleccione una opción</option>
                    @for (item of this.genderEnum | keyvalue; track $index) {
                        <option [ngValue]="item.key">{{item.value}}</option>
                    }
                </select>
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="documentType">Tipo de documento</label>
                <select stInput id="documentType" formControlName="documentType" name="documentType" id="documentType">
                    <option selected disabled>Seleccione una opción</option>
                    @for (item of this.documentTypeEnum | keyvalue; track $index) {
                        <option [ngValue]="item.key">{{item.value}}</option>
                    }
                </select>
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="documentNumber">Número de documento</label>
                <input stInput id="documentNumber" type="text" formControlName="documentNumber">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="email">Email</label>
                <input stInput id="email" type="email" formControlName="email">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="phone">Teléfono</label>
                <input stInput id="phone" type="phone" formControlName="phone">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="password">Clave</label>
                <input stInput id="password" type="password" formControlName="password">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="confirmPassword">Confirmar clave</label>
                <input stInput id="confirmPassword" type="password" formControlName="confirmPassword">
                <st-error>El campo es requerido</st-error>
            </st-form-field>
        </form>
        
        <div class="buttonsWrap">
            <button stButton size="lg" variant="principal" (click)="singUp()">Registrarse</button>
        </div>
    </div>
</div>