
<div class="singUpMainWrap">
    <div class="buttonsWrap">
        <a stButton size="lg" variant="principal">Registrarse</a>
        <a stButton size="lg" variant="dark" href="login">Ingresar</a>
    </div>

    <div class="singUpFormWrapper">

        <h1>Regístrese</h1>

        <form class="formsingUp">

            <st-form-field>
                <label stLabel for="name">Nombres</label>
                <input stInput id="name" type="text">
                <st-error>El campo es requerido</st-error>
            </st-form-field>
            
            <st-form-field>
                <label stLabel for="lastname">Apellidos</label>
                <input stInput id="lastname" type="text">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="birthday">Fecha de nacimiento</label>
                <input stInput id="birthday" type="date">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="gender">Género</label>
                <input stInput id="gender" type="text">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="documentType">Tipo de documento</label>
                <input stInput id="documentType" type="text">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="documentNumber">Número de documento</label>
                <input stInput id="documentNumber" type="text">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="email">Email</label>
                <input stInput id="email" type="email">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="phone">Teléfono</label>
                <input stInput id="phone" type="phone">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="password">Clave</label>
                <input stInput id="password" type="password">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="confirmPassword">Confirmar clave</label>
                <input stInput id="confirmPassword" type="password">
                <st-error>El campo es requerido</st-error>
            </st-form-field>
        </form>
        
        <div class="buttonsWrap">
            <button stButton size="lg" variant="principal">Registrarse</button>
        </div>
    </div>
</div>