<div class="hotelTableMainWrap">
    <div class="titleWrap">
        <h2>Lista de hoteles</h2>
    </div>


    <div class="tableMainWrap">
        <div class="tableActionsWrap">
            <st-form-field>
                <input stInput id="id" type="text" placeholder="Ingrese su busqueda" [(ngModel)]="searchDataSelected">
            </st-form-field>
            <st-form-field>
                <select stInput name="select" [(ngModel)]="searchCriteriaSelected">
                    <option value="">Selecciona un criterio</option>
                    <option value="name">Nombre</option>
                    <option value="city">Ciudad</option>
                    <option value="department">Departamento</option>
                </select>
            </st-form-field>
            <button class="filterBtn" stButton size="lg" variant="principal" (click)="seachItem()" [disabled]="searchCriteriaSelected ==='' || searchDataSelected===''">
                <i class="material-icons">search</i>
            </button>
            <button class="filterBtn" stButton size="lg" variant="dark" (click)="reseatPaginate()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Departamento</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="dataInTable.length; then data; else noItems"></ng-container>
                <ng-template #data>
                    @for (item of dataInTable; track $index) {
                    <tr>
                        <td>
                            <img [src]="item.photo" [alt]="item.photo" class="logoInTable">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.city}}</td>
                        <td>{{this.colombiaService.getDepartmentbyId(item.department) | async}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <a stButton size="lg" variant="principal" (click)="gotoRoom(item)">
                                Seleccionar
                            </a>
                        </td>
                    </tr>
                    }
                </ng-template>
                <ng-template #noItems>
                    <tr>
                        <td colspan="8" class="void">No hay registros</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        
        <div class="tableFooter">
            <div class="textWrap">
                {{dataInTable.length}} Resultados
            </div>
            <!-- <st-form-field class="buttonNew">
                <select stInput name="select" [(ngModel)]="pageSelected" (ngModelChange)="changePageSize($event)">
                    <option *ngFor="let option of pageSizeList" [value]="option">
                        {{option}}
                    </option>
                </select>
            </st-form-field> -->
        </div>
    </div>
</div>