
<div class="loginMainWrap">

    <div class="buttonsWrap">
        <a stButton size="lg" variant="dark" href="sing-up">Registrarse</a>
        <a stButton size="lg" variant="principal" >Ingresar</a>
    </div>
        
    <div class="loginFormWrapper">

        <h1>Inicia sesión</h1>

        <form class="formLogin">
            <st-form-field>
                <label stLabel for="email">Email</label>
                <input stInput id="email" type="email">
                <st-error>El campo es requerido</st-error>
            </st-form-field>

            <st-form-field>
                <label stLabel for="password">Clave</label>
                <input stInput id="password" type="password">
                <st-error>El campo es requerido</st-error>
            </st-form-field>
        </form>
        
        <div class="buttonsWrap">
            <button stButton size="lg" variant="principal">Ingresar</button>
        </div>
    </div>
</div>