.container{
    float: left;
    width: 80%;
    padding: 110px 15px  150px;
    box-sizing: border-box;
    margin:50px 10% 0;
    background-color: #fefefeb0;
    min-height: calc(100vh - 90px);
}

st-top-bar,
st-footer{
    width: 100%;
    float: left;
    box-sizing: border-box;
}