.alertMainWrap {
  width: 100%;
  height: 100%;
  min-width: 95vw;
  min-height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.alertWrap {
  width: 80%;
  height: auto;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  &>* {
    width: 100%;
  }

  .alertButtons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
  }

  .alertText {
    min-height: 150px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

}