<div class="roomTableMainWrap">
    <div class="titleWrap">
        <h1>Lista de habitaciones</h1>
    </div>


    <div class="tableMainWrap">
        <div class="tableActionsWrap">
            <button class="buttonNew" stButton size="lg" variant="principal" routerLink="./form">Agregar habitacion</button>
        </div>
        <!-- <div class="tableActionsWrap">
            <st-form-field>
                <input stInput id="id" [type]="typeInput" placeholder="Ingrese su busqueda" [(ngModel)]="searchDataSelected">
            </st-form-field>
            <st-form-field>
                <select stInput name="select" [(ngModel)]="searchCriteriaSelected">
                    <option value="">Selecciona un criterio</option>
                    <option value="$name">Nombre</option>
                    <option value="$description">Descripción</option>
                    <option value="$date_release">Fecha de liberación</option>
                    <option value="$date_revision">Fecha de reestructuración</option>
                </select>
            </st-form-field>
            <button class="filterBtn" stButton size="lg" variant="principal" (click)="seachItem()" [disabled]="searchCriteriaSelected ==='' || searchDataSelected===''">
                <i class="material-icons">search</i>
            </button>
            <button class="filterBtn" stButton size="lg" variant="dark" (click)="reseatPaginate()">
                <i class="material-icons">close</i>
            </button>
        </div> -->
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Costo base</th>
                    <th>Impuesto</th>
                    <th>Tipo</th>
                    <th>Ubicación</th>
                    <th>Capacidad</th>
                    <th>Descripción</th>
                    <th>Hotel</th>
                    <th>¿Disponible?</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="dataInTable.length; then data; else noItems"></ng-container>
                <ng-template #data>
                    @for (item of dataInTable; track $index) {
                    <tr>
                        <td>{{item.baseCost | currency}}</td>
                        <td>{{item.taxes}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.amountPersons}}</td>
                        <td>{{item.description}}</td>
                        <td>{{getHotelNameById(item.hotel)}}</td>
                        <td>{{item.available? 'Si': 'No'}}</td>
                        <td>{{StatusEnum[item.status]}}</td>
                        <td class="action">
                            <a routerLink="./form" [state]=item>
                                <i class="material-icons">create</i>
                            </a>

                            <a href="javascript:void(0)" (click)="deleteItem(item)">
                                    <i class="material-icons" >delete</i>
                                </a>
                        </td>
                    </tr>
                    }
                </ng-template>
                <ng-template #noItems>
                    <tr>
                        <td colspan="9" class="void">No hay registros</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
        <div class="tableFooter">
            <div class="textWrap">
                {{dataInTable.length}} Resultados
            </div>
            <!-- <st-form-field class="buttonNew">
                <select stInput name="select" [(ngModel)]="pageSelected" (ngModelChange)="changePageSize($event)">
                    <option *ngFor="let option of pageSizeList" [value]="option">
                        {{option}}
                    </option>
                </select>
            </st-form-field> -->
        </div>
    </div>
</div>