.headerMainWrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 20px 20px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    flex-direction: row;
    z-index: 1;
    background-color: #4D8D88;

    .waveTop {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .menuWrap {
        font-size: 15px;
        width: 70%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;

        .menuItem {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            margin: 0 10px;

            &:active {
                color: #fff;
            }

            &:visited {
                color: #fff;
            }

            &:hover {
                cursor: pointer;
                color: #FFDD00;
            }
        }


        .material-icons {
            font-size: 30px;
            margin: 0 5px;
        }

        @media (max-width: 980px) {
            .menuDesc:not(.user) {
                display: none;
            }

            .menuDesc.user {
                font-size: 12px;
            }

            .menuItem {
                margin: 0 5px;
            }

            .material-icons {
                margin: 0 5px;
            }
        }
    }

    .logoWrap {
        width: 30%;
        text-align: left;
        position: relative;

        .logo {
            max-width: 200px;
            margin-left: 15px;
        }

        .blobLeft {
            position: absolute;
            top: -40px;
            left: -40px;
            width: 100%;
            height: auto;
            z-index: -1;
            max-width: 350px;
        }

        @media (max-width: 980px) {
            .blobLeft {
                width: 180px;
            }

            .logo {
                max-width: 120px;
                margin-left: 0;
            }
        }
    }

}